.flex-container {
  display: flex;

  flex-flow: row wrap;
}

.flex-item1 {
  width: 50%;
  /* default 0 */
}

.flex-item2 {
}

#buttons {
  display: flex;
}

button {
  margin-right: 5px;
  flex-grow: 1;
  flex-basis: 0;
}

.gender-label {
}
